@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide-section {
  overflow: hidden;
}
.container {
  max-width: 1468px;
  margin: 0px auto;
  font-family: "Poppins", sans-serif !important;
}

.slider-content {
  display: flex;
  justify-content: start;
  align-items: start;
  transition: transform 0.5s ease-in-out;
}

.slide-card {
  position: relative;
  min-width: 620px !important;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0 15px;
}
.slide-card:first-child {
  padding-left: 0;
}
.slide-card-inner {
  width: 100%;
}
.slide-image-box {
  width: 100%;
  height: 600px;
}
.slide-image-box img {
  width: 100%;
  height: 100%;
}
.slider-dot-and-next-prev-button-group {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
}

.slider-dot-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.slider-dot.active {
  background-color: #222222 !important;
}

.slider-dot {
  background-color: #a7a7a7;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.slider-dot-group .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.next-prev-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.next-prev-button-group button {
  border: none;
  width: 45px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.next {
  color: rgb(0, 0, 0);
}

.prev {
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .slider-dot-and-next-prev-button-group {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .slide-card {
    position: relative;
    min-width: 338px !important;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0 5px;
  }
  .slide-image-box {
    width: 100%;
    height: 338px;
  }
  .slider-dot {
    background-color: #cbcbcb;
    width: 8px;
    height: 8px;
  }
  .next-prev-button-group button {
    border: none;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .slide-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100% !important;
    height: 100%;
    box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
  }
}
